<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css'><link rel="stylesheet" href="./static/css/historystyle.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
		<div class="chat-panel">
          {% for message in conversation %}
          <div class="row no-gutters">
			
			<div class="col-md-8 offset-md-4" >
			  <div class="chat-bubble chat-bubble--right" style="background-color:#4d97e7">
				{{message.question}}
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-8">
			  <div class="chat-bubble chat-bubble--left">
				{{message.answer}}
			  </div>
			</div>
		  </div>
          {% endfor %}
		  <!-- <div class="row">
			<div class="col-12">
			  <div class="chat-box-tray">
				<i class="material-icons">sentiment_very_satisfied</i>
				<input type="text" placeholder="Type your message here...">
				<i class="material-icons">mic</i>
				<i class="material-icons">send</i>
			  </div>
			</div>
		  </div> -->
		</div>

	
  </div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
